*{
    padding: 0;
    margin:0;
}
/* body{
    background-color:blue;sets background color 
    background-position: ;sets position either eg.center
    background-repeat: no-repeat;sets the background property eithr to(repeat,no repeat,repeat x,repeat-y)
    background-image: url('');sets background as an image
    background-size: ; gives the parameters that the background should cover(cover,contain)
    background-attachment:;defines the behaviour of a background in relation to scrolling the window(fixed,scroll,inherit,local)
} */

//rgb,rgba,hex,hsl,hsla
//box model(padding,margin,)>>box size
padding :refers to the spaces around content //tjis can be anything inside tags or tags inside tags 
margin:refers to space outside the content box that seperates the contents
//border:refers to the border(physical separation) of the content box ie)line 



//types of properties and values'
// flexbox
//grids
//positioning
overlay

//floats
//display
//z-index
//overflow
//transform
//animation
//transition
//media queries
//pseudo classes
//pseudo elements
//selectors
